@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <p class="display-5"><em>This is my home page :v</em></p>
</div>
=======
<main>
    <h1>Home</h1>
    <ul class="dashboard">
        <li>
            <span>Total Income</span>
            <h3>111,000</h3>
        </li>
        <li>
            <span>Total Expences</span>
            <h3>111,000</h3>
        </li>
        <li>
            <span>Cash on Hand</span>
            <h3>111,000</h3>
        </li>
        <li>
            <span>Revenue</span>
            <h3>111,000</h3>
        </li>
    </ul>
</main>
>>>>>>> 2a83c515e7e47776ea24b086c85ecaee48daf7a0
