@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">SomeDecribe</h1>
    <br>
    <p class="display-5"><em>This website is built for personal use.</em></p>
    <p class="display-5">Here is some features:</p>
</div>
<ul class="display-6">
    <li>SomeFinace</li>
</ul>
