@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header class="display-4">Welcome</header>
    <br>
    <h1 class="display-4">Welcome</h1>
    <br>
    <p class="display-5"><em class="italic">This is my home page :v</em></p>
</div>
