@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h1>Home</h1>
    <ul class="dashboard">
        <li>
            <span>Total Income</span>
            <h3>111,000</h3>
        </li>
        <li>
            <span>Total Expences</span>
            <h3>111,000</h3>
        </li>
        <li>
            <span>Cash on Hand</span>
            <h3>111,000</h3>
        </li>
        <li>
            <span>Revenue</span>
            <h3>111,000</h3>
        </li>
    </ul>
</main>