@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

@media (min-width: 768px) {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
}

.sidebar {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 230px;
  height: 100%;
}

.logo {
  text-align: center;
  font-size: 30px;
  display: block;
  margin-top: 1rem;
}

.main {
  margin-left: 240px;
}

th, td {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}