html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
  background-color: #78c2ad;
}

th, td {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}