@{
    ViewData["Title"] = "Your Wallet";
}
<div class="content">
    <main>
        <div class="header">
            <h1>SomeFinace</h1>
        </div>
        <ul class="insights">
            <li>
                <span>
                    <h2>1.111</h3>
                    <p>FINANCIAL FREEDOM</p>
                </span>
            </li>
            <li>
                <span>
                    <h2>1.111</h3>
                    <p>SAVE TO SPEND</p>
                </span>
            </li>
            <li>
                <span>
                    <h2>1.111</h3>
                    <p>EDUCATION</p>
                </span>
            </li>
            <li>
                <span>
                    <h2>1.111</h3>
                    <p>PLAY</p>
                </span>
            </li>
            <li>
                <span>
                    <h2>1.111</h3>
                    <p>NECESSITY</p>
                </span>
            </li>
            <li>
                <span>
                    <h2>1.111</h3>
                    <p>CONTRIBUTION</p>
                </span>
            </li>
        </ul>
    </main>
</div>
    