@{
    ViewData["Title"] = "Your Wallet";
}
<div class="content">
    <main>
        <div class="header">
            <h1>SomeFinace</h1>
            <a class="add-new" asp-controller="" asp-action="">
                <i class='bx bx-plus'></i>
                <span>New</span>
            </a>
        </div>

        <!-- Insights -->

        <ul class="insights">
            <li>
                <i class="fa-solid fa-jar"></i>
                <span class="info">
                    <h3>1,111</h3>
                    <p>FINANCIAL FREEDOM</p>
                </span>
            </li>
            <li>
                <i class="fa-solid fa-jar"></i>
                <span class="infor">
                    <h3>1,111</h3>
                    <p>SAVE TO SPEND</p>
                </span>
            </li>
            <li>
                <i class="fa-solid fa-jar"></i>
                <span class="infor">
                    <h3>1,111</h3>
                    <p>EDUCATION</p>
                </span>
            </li>
            <li>
                <i class="fa-solid fa-jar"></i>
                <span class="infor">
                    <h3>1,111</h3>
                    <p>PLAY</p>
                </span>
            </li>
            <li>
                <i class="fa-solid fa-jar"></i>
                <span class="infor">
                    <h3>1,111</h3>
                    <p>NECESSITY</p>
                </span>
            </li>
            <li>
                <i class="fa-solid fa-jar"></i>
                <span class="infor">
                    <h3>1,111</h3>
                    <p>CONTRIBUTION</p>
                </span>
            </li>
        </ul>

        <!-- End of Insights -->

        
    </main>
</div>
    