@{
    ViewData["Title"] = "Your Wallet";
}
<div class="content">
    <main>
        <div class="header">
            <h1>SomeFinace</h1>
            <a class="add-new" asp-controller="" asp-action="">
                <i class='bx bx-plus'></i>
                <span>New</span>
            </a>
        </div>
        <ul class="insights">
            <li id="jar1">
                <span>
                    <h3>1,111</h3>
                    <p>FINANCIAL FREEDOM</p>
                </span>
            </li>
            <li id="jar2">
                <span>
                    <h3>1,111</h3>
                    <p>SAVE TO SPEND</p>
                </span>
            </li>
            <li id="jar3">
                <span>
                    <h3>1,111</h3>
                    <p>EDUCATION</p>
                </span>
            </li>
            <li id="jar4">
                <span>
                    <h3>1,111</h3>
                    <p>PLAY</p>
                </span>
            </li>
            <li id="jar5">
                <span>
                    <h3>1,111</h3>
                    <p>NECESSITY</p>
                </span>
            </li>
            <li id="jar6">
                <span>
                    <h3>1,111</h3>
                    <p>CONTRIBUTION</p>
                </span>
            </li>
        </ul>
    </main>
</div>
    