<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SomeWeb</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SomeWeb.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/somelogo-tprr.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>

        <!-- Sidebar -->

        <div class="sidebar">
            <a class="logo" asp-controller="Home" asp-action="Index">
                <i class='bx bxs-game'></i>Some <span>Web</span> 
            </a>
            <ul class="side-menu">
                <li class="active">
                    <a asp-controller="Home" asp-action="Index">
                        <i class='bx bx-home-smile'></i>Home
                    </a>
                </li>
                <li class="">
                    <a asp-controller="Category" asp-action="Index">
                        <i class='bx bx-wallet'></i>Wallet
                    </a>
                </li>
                <li class="">
                    <a asp-controller="Category" asp-action="Analyse">
                        <i class='bx bx-analyse'></i>Analytics
                    </a>
                </li>
                <li class="">
                    <a asp-controller="" asp-action="">
                        <i class='bx bx-cog'></i>Settings
                    </a>
                </li>
            </ul>
            <ul class="side-menu">
                <li class="">
                    <a class="logout" asp-controller="" asp-action="">
                        <i class='bx bx-log-out'></i>Logout
                    </a>
                </li>
            </ul>
        </div>

        <!-- End of Sidebar -->

        <!-- Main content -->

        <div class="content">

            <!-- Navigation -->

            <nav>
                <i class='bx bx-menu'></i>
                <form action="#">
                    <div class="form-input">
                        <input type="search" placeholder="Search..."> 
                        <button class="search-btn" type="submit">
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                </form>
                <input type="checkbox" id="theme-toggle" hidden> 
                <label for="theme-toggle" class="theme-toggle"></label>
                <a class="notify" asp-controller="" asp-action="">
                    <i class='bx bx-bell'></i>
                    <span class="count">14</span>
                </a>
                <a class="profile" asp-controller="" asp-action="">
                    <img src="~/sample-profile.png" alt="use-profile">
                </a>
            </nav>

            <!-- End of Navigation -->

        </div>

        <!-- End of Main content -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SomeWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
